h2 {
    border-bottom: 2px solid rgb(158, 136, 9);
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    font-size: 27px;
    padding-top: 1%;
    padding-bottom: 4%;
    font-weight: 500;
  }
  

.film{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
   padding: 5%;
}

.class {
    padding: 3%;
}

h3 {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  p {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  a {
    display: flex;
    justify-content: center;
    }