* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  background-color: rgb(66, 0, 0);
  font-weight: 700;
}

a {
  font-size: 150%;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(206, 49, 28);
  scale: 101%;
  opacity: 0.7;
}

body {
  background-color: rgba(255, 229, 133, 0.468);
}

.titre {
  color: aliceblue;
}
.icon {
  color: aliceblue;
}

.gryff > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.end {
  display: flex;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;

  color: rgb(0, 0, 0);
  @media screen and (max-width: 1000px) {
    color: red;
  }
}
